<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock title %}</title>
  
  {% load static %}
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-dark bg-dark mb-2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item nav-link active">
        <a href="{% url 'list_threads' %}" class="navbar-brand">n0bbs</a> / {% block subtitle %}{% endblock subtitle %}
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="btn btn-light" href="{% url 'create_thread' %}" role="button"><i class="fa fa-plus" aria-hidden="true"></i></a>
        <a class="btn btn-light" href="{% url 'logout' %}" role="button"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
      </li>
    </ul>
  </nav>
  
  {% block content %}
  {% endblock content %}
</body>
</html>